<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <div>
        <h1>HELPERROADS</h1>

        <ul>
          <li>Cadastrar</li>
          <li>Entrar</li>
        </ul>

        <form>
          <label for="loginEmail">E-mail:</label><br>
          <input type="email" id="loginEmail" name="loginEmail" placeholder="Digite seu e-mail"><br>
          <label for="loginSenha">Senha:</label><br>
          <input type="password" id="loginSenha" name="loginSenha" placeholder="Digite sua senha"><br>
        </form>
        <h6>Esqueceu sua senha? <a href="#">Clique aqui!</a></h6>
        <button>Entrar</button>
        <h4>Acesso rápido com:</h4>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>
