<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

      <ion-searchbar placeholder="Borracharia desejada"></ion-searchbar>
      <ion-button>Ordenar</ion-button>
      <ion-button id="open-modal">Filtrar</ion-button>

      <ion-modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="block">
            <h1>Atendimento</h1>

              <label style="display: flex; align-items: center;">
                <input type="radio" name="delivery" value="local">
                <img src="assets/entrega1.svg" alt="" style="width: 20px; height: 20px; margin-right: 8px;">Irei ao local
              </label>

              <br>

              <label style="display: flex; align-items: center;">
                <input type="radio" name="delivery" value="local">
                <img src="assets/entrega2.svg" alt="" style="width: 20px; height: 20px; margin-right: 8px;">Deslocamento ao cliente
              </label>

            <hr color="#88888">

            <h1>Pagamento</h1>

              <button style="display: flex;align-items: center;" value="custo">
                <img src="assets/ftmoneyyellow.svg" alt="" style="width: 20px; height: 20px;">
                <img src="assets/ftmoney.svg" alt="" style="width: 20px; height: 20px;">
                <img src="assets/ftmoney.svg" alt="" style="width: 20px; height: 20px;">
                Custo baixo
              </button>

              <button style="display: flex;align-items: center;" value="custo">
                <img src="assets/ftmoneyyellow.svg" alt="" style="width: 20px; height: 20px;">
                <img src="assets/ftmoneyyellow.svg" alt="" style="width: 20px; height: 20px;">
                <img src="assets/ftmoney.svg" alt="" style="width: 20px; height: 20px;">
                Custo Mediano
              </button>

              <button style="display: flex;align-items: center;" value="custo">
                <img src="assets/ftmoneyyellow.svg" alt="" style="width: 20px; height: 20px;">
                <img src="assets/ftmoneyyellow.svg" alt="" style="width: 20px; height: 20px;">
                <img src="assets/ftmoneyyellow.svg" alt="" style="width: 20px; height: 20px;">
                Custo Elevado
              </button>

              <h1>Distância</h1>
              
              <input type="range" id="distancia" name="distancia" min="0" max="50">

          </div>
        </ng-template>
      </ion-modal>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
