<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      

      <div>
        <h1>HELPERROADS</h1>

        <ul>
          <li>Cadastrar</li>
          <li>Entrar</li>
        </ul>

        <form>
          <label for="cadastroNome">Nome:</label><br>
          <input type="text" id="cadastroNome" name="cadastroNome" placeholder="Digite seu nome"><br>
          <label for="cadastroSobrenome">Sobrenome:</label><br>
          <input type="text" id="cadastroSobrenome" name="cadastroSobrenome" placeholder="Digite seu sobrenome"><br>
          <label for="cadastroUser">Usuário:</label><br>
          <input type="text" id="cadastroUser" name="cadastroUser" placeholder="Digite seu nome de usuário"><br>
          <label for="cadastroEmail">Email:</label><br>
          <input type="email" id="cadastroEmail" name="cadastroEmail" placeholder="Digite seu e-mail"><br>
          <label for="cadastroSenha">Senha:</label><br>
          <input type="password" id="cadastroSenha" name="cadastroSenha" placeholder="Digite sua senha"><br>
          <label for="cadastroConfSenha">Confirme sua senha:</label><br>
          <input type="password" id="cadastroConfSenha" name="cadastroConfSenha" placeholder="Confirme sua senha"><br>
        </form>
        <button color="primary">Cadastrar</button>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>
